// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define ABC 0
#define NUM 1
#define SYM 2
#define NAV 3
#define ADM 4
#define GAM 5

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 3>;
            then-layer = <4>;
        };
    };

        // LAYER TEMPLATE \\
    
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          // &none           &none           &none           &none           &none               &none           &none           &none           &none           &none
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          // &none           &none           &none           &none           &none               &none           &none           &none           &none           &none
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          // &none           &none           &none           &none           &none               &none           &none           &none           &none           &none
        //╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
                                                          // &none           &none               &none           &none
        //                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│       Q       │       W       │       F       │       P       │       B       │   │       J       │       L       │       U       │       Y       │      ; :      │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &kp Q           &kp W           &kp F           &kp P           &kp B               &kp J           &kp L           &kp U           &kp Y           &kp SEMICOLON
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│       A       │       R       │       S       │       T       │       G       │   │       M       │       N       │       E       │       I       │       O       │
        //│     -ESC-     │     -ALT-     │    -SHIFT-    │   -CONTROL-   │               │   │               │   -CONTROL-   │    -SHIFT-    │     -ALT-     │     -ESC-     │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &ht ESC A       &ht LALT R      &ht LSHFT S     &ht LCTRL T     &kp G               &kp M           &ht RCTRL N     &ht RSHFT E     &ht RALT I      &ht ESC O
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│       Z       │       X       │       C       │       D       │       V       │   │       K       │       H       │      , <      │      . >      │      / ?      │
        //│               │               │               │   -COMMAND-   │               │   │               │   -COMMAND-   │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &kp Z           &kp X           &kp C           &ht LCMD D      &kp V               &kp K           &ht RCMD H      &kp COMMA       &kp DOT         &kp FSLH
        //╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
        //                                                │               │               │   │               │               │
        //                                                │      TAB      │     SPACE     │   │   BACKSPACE   │    RETURN     │
        //                                                │  -NUM LAYER-  │  -SYM LAYER-  │   │  -NAV LAYER-  │   -DELETE-    │
        //                                                │               │               │   │               │               │
                                                          &lt NUM TAB     &lt SYM SPACE       &lt NAV BSPC    &ht DEL RET
        //                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

        num_layer {
            bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &none           &none           &none           &none           &none               &none           &none           &none           &none           &none
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│       1       │       2       │       3       │       4       │       5       │   │       6       │       7       │       8       │       9       │       0       │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &kp N1          &kp N2          &kp N3          &kp N4          &kp N5              &kp N6          &kp N7          &kp N8          &kp N9          &kp N0
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &none           &none           &none           &none           &none               &none           &none           &none           &none           &none
        //╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
                                                          &none           &none               &trans          &trans           
        //                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

        sym_layer {
            bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│       \       │       $       │       &       │       `       │               │   │               │       ~       │       #       │       ^       │       |       │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &kp BSLH        &kp DLLR        &kp AMPS        &kp GRAVE       &none               &none           &kp TILDE       &kp HASH        &kp CARET       &kp PIPE
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│      ESC      │       [       │       {       │       (       │       -       │   │       +       │       )       │       }       │       ]       │      ESC      │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &kp ESC         &kp LBKT        &kp LBRC        &kp LPAR        &kp MINUS           &kp PLUS        &kp RPAR        &kp RBRC        &kp RBKT        &kp ESC
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │       %       │       *       │               │   │               │       =       │       @       │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &none           &none           &kp PRCNT       &kp STAR        &none               &none           &kp EQUAL       &kp AT          &none           &none
        //╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │       _       │               │
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
                                                          &none           &none               &kp UNDER       &trans
        //                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

        nav_layer {
            bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &none           &none           &none           &none           &none               &none           &none           &none           &none           &none
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│      ESC      │      ALT      │     SHIFT     │    CONTROL    │               │   │       ←       │       ↓       │       ↑       │       →       │      END      │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &kp ESC         &kp LALT        &kp LSHFT       &kp LCTRL       &none               &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &kp END
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │    COMMAND    │               │   │               │     HOME      │   PAGE DOWN   │    PAGE UP    │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &none           &none           &none           &kp LCMD        &none               &none           &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP     &none
        //╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
                                                          &trans          &trans              &none           &none
        //                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

        admin_layer {
            bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│  BT SELECT 0  │  BT SELECT 1  │  BT SELECT 2  │  BT SELECT 3  │  BT SELECT 4  │   │      F1       │      F2       │      F3       │      F4       │      F5       │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4        &kp F1          &kp F2          &kp F3          &kp F4          &kp F5
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│   KEYBOARD    │   KEYBOARD    │ BT CLEAR ALL  │   BT CLEAR    │ TOGGLE OUTPUT │   │      F6       │      F7       │      F8       │      F9       │      F10      │
        //│    REBOOT     │   BOOT MODE   │               │   CURRENT     │     MODE      │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &sys_reset      &bootloader     &bt BT_CLR_ALL  &bt BT_CLR      &out OUT_TOG        &kp F6          &kp F7          &kp F8          &kp F9          &kp F10
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │      F11      │      F12      │      F13      │      F14      │  GAME LAYER   │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &none           &none           &none           &none           &none               &kp F11         &kp F12         &kp F13         &kp F14         &to GAM
        //╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
                                                          &none           &none               &none           &none
        //                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

        game_layer {
            bindings = <
        //╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│      ESC      │       Q       │       W       │       E       │       R       │   │               │       1       │       2       │       3       │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &kp ESC         &kp Q           &kp W           &kp E           &kp R               &none           &kp KP_N1       &kp KP_N2       &kp KP_N3       &none
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│     SHIFT     │       A       │       S       │       D       │       F       │   │               │       4       │       5       │       6       │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &kp LSHFT       &kp A           &kp S           &kp D           &kp F               &none           &kp KP_N4       &kp KP_N5       &kp KP_N6       &none
        //├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│    CONTROL    │       Z       │       X       │       C       │       V       │   │               │       7       │       8       │       9       │  ALPHA LAYER  │
        //│               │               │               │               │               │   │               │               │               │               │               │
        //│               │               │               │               │               │   │               │               │               │               │               │
          &kp LCTRL       &kp Z           &kp X           &kp C           &kp V               &none           &kp KP_N7       &kp KP_N8       &kp KP_N9       &to ABC
        //╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
        //                                                │               │               │   │               │               │
        //                                                │      TAB      │     SPACE     │   │      ALT      │      TAB      │
        //                                                │               │               │   │               │               │
        //                                                │               │               │   │               │               │
                                                          &kp TAB         &kp SPACE           &kp RALT        &kp TAB
        //                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

    };
};


